asgiref==3.8.1
Django==5.1.4
sqlparse==0.5.3
tzdata==2024.2
# Byte-compiled files
__pycache__/
*.py[cod]

# Virtual environment
env/

# Django migrations
*/migrations/

# Media/uploads
media/

# Database files
*.sqlite3

# IDE files
.vscode/
*.swp
.idea/

