{% extends 'base.html' %}

{% block title %}Contact Us - Cupcake Shop{% endblock %}

{% block content %}
    <h1>Contact Us</h1>
    <p>If you have any questions or need assistance, feel free to get in touch with us. We'd love to hear from you!</p>

    <div>
        <h4>Phone</h4>
        <p>Call us at: +1 (555) 123-4567</p>

        <h4>Email</h4>
        <p>Send us an email at: <a href="mailto:contact@cupcakeshop.com">contact@cupcakeshop.com</a></p>

        <h4>Address</h4>
        <p>Visit us at: 123 Cupcake Street, Sweet City, SC 12345</p>
    </div>
{% endblock %}
