{% extends "base.html" %}
{% block title %}Payment Options - Cupcake Shop{% endblock %}

{% block content %}
<div class="container">
    <h1 class="text-center my-4">Payment Options</h1>
    <div class="card">
        <div class="card-body">
            <h2 class="card-title">Choose a Payment Method</h2>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <a href="{% url 'checkout' %}" class="btn btn-primary w-100">
                        <i class="fa-solid fa-credit-card"></i> Pay with Credit Card
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="#" class="btn btn-secondary w-100 disabled">
                        <i class="fa-solid fa-wallet"></i> Pay with Wallet (Coming Soon)
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="#" class="btn btn-secondary w-100 disabled">
                        <i class="fa-solid fa-paypal"></i> Pay with PayPal (Coming Soon)
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}