{% load static %}

{% extends 'base.html' %}

{% block title %}Shop - Cupcake Shop{% endblock %}

{% block content %}
    <h1>Our Cupcakes</h1>
    <p>Discover our delicious range of cupcakes. Choose from a variety of flavors and designs to make your event unforgettable!</p>

    <div class="row">
        {% for cupcake in cupcakes %}
            <div class="col-md-4">
                <div class="card">
                    <img src="{{ cupcake.image.url }}" alt="{{ cupcake.name }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ cupcake.name }}</h5>
                        <p class="card-text">{{ cupcake.description }}</p>
                        <a href="#" class="btn btn-primary">Order Now</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
